rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /docs/{docId} {
      allow read, write: if
        request.auth.uid == 'U23CfQYMJaRhLeiZsIQRAT9LPSC3';
      allow create: if
        request.resource.data.keys() == ['text'] &&
        request.resource.data.text is string;
      allow update: if
        // REGRA 1 - esse documento só pode ter os seguintes campos:
        //   text:      string  (required)
        //   protected: string  (optional)
        //   public:    boolean (optional)
        // REGRA 2 - apenas um campo pode ser alterado por operação
        // REGRA 3 - se protected não existir, todos podem ler/escrever
        // REGRA 4 - se protected == auth.uid, usuario pode ler/escrever
        // REGRA 5 - se public == true, todos podem ler
        
        !exists(request.path) ||
        affectedKeys().size() == 0 ||
        (
          changedKeys() == ['text'].toSet() &&
          request.resource.data.text is string &&
          (
            !('protected' in resource.data.keys()) ||
            request.auth.uid == resource.data.protected
          )
        ) || (
          addedKeys() == ['protected'].toSet() &&
          request.auth != null && request.auth.uid == request.resource.data.protected
        ) || (
          removedKeys() == ['protected'].toSet() &&
          request.auth.uid == resource.data.protected
        ) || (
          affectedKeys() == ['public'].toSet() &&
          request.auth.uid == resource.data.protected
        );
      allow get: if
        !exists(request.path) ||
        !('protected' in resource.data.keys()) ||
        request.auth.uid == resource.data.protected ||
        resource.data.public == true;
    }
    
    function affectedKeys(){
      return request.resource.data.diff(resource.data).affectedKeys();
    }
    function addedKeys(){
      return request.resource.data.diff(resource.data).addedKeys();
    }
    function removedKeys(){
      return request.resource.data.diff(resource.data).removedKeys();
    }
    function changedKeys(){
      return request.resource.data.diff(resource.data).changedKeys();
    }
  }
}
