rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /docs/{docId} {
      allow read, write: if
        request.auth.uid == 'U23CfQYMJaRhLeiZsIQRAT9LPSC3';
      allow write: if
        request.resource.data.keys() == ['text'] &&
        request.resource.data.text is string;
      allow get: if
        true;
    }
  }
}