#status{
    position: fixed;
    text-align: center;
    width: 100%;
    font-family: monospace;
    top: 0;
}

#status span{
    background: white;
}

#textarea{
    font-family: monospace;
    width: 100%;
    height: calc(100% - 27px);
    resize: none;
    tab-size: 4;
}

.hidden{
    opacity: 0;
}

.updating{
    box-shadow: 0 0 4px green;
}

.footer{
    text-align: center;
    padding-top: 3px;
}

.noscript{
    position: fixed;
    text-align: center;
    width: 100%;
    top: calc(50% - 1em);
    font-family: monospace;
}